#include <winver.h>

VS_VERSION_INFO VERSIONINFO
  FILEVERSION 0,0,4,BUILDNUMBER
  PRODUCTVERSION 0,0,4,0
  FILEFLAGSMASK 0
  FILEFLAGS 0
  FILEOS VOS__WINDOWS32
  FILETYPE VFT_DLL
  FILESUBTYPE VFT2_UNKNOWN
  BEGIN
    BLOCK "StringFileInfo"
    BEGIN
      BLOCK "040904B0"
      BEGIN
	VALUE "CompanyName", "The librevenge developer community"
	VALUE "FileDescription", "librevenge-generators"
	VALUE "FileVersion", "0.0.4.BUILDNUMBER"
	VALUE "InternalName", "librevenge-generators-0.0"
	VALUE "LegalCopyright", "Copyright (C) 2002-2006 William Lachance, Marc Maurer, Fridrich Strba, other contributers"
	VALUE "OriginalFilename", "librevenge-generators-0.0.dll"
	VALUE "ProductName", "librevenge"
	VALUE "ProductVersion", "0.0.4"
      END
    END
    BLOCK "VarFileInfo"
    BEGIN
      VALUE "Translation", 0x409, 1200
    END
  END

